<!--
{% set project_name='comfy-fulcrum' %}
{% set project_name_proper='ComfyUI Fulcrum' %}

{% set dev_dependencies=shell('python -m yq -r -c \'.dev | keys_unsorted | join(" ")\' .github/dependencies.yml',
                              include_args=False)|trim %}

-->
